:root {
  --main-color-gradient: linear-gradient(
    to right,
    rgba(37, 64, 143, 1),
    rgba(48, 209, 201, 1) 80%
  );
  --secondry-color-gradient: linear-gradient(
    to right,
    rgba(210, 35, 42, 1),
    rgba(22, 4, 68, 1) 80%
  );
  --yellow-color: rgb(239 239 0);
  --bluedark-color: #00334c;
  --bluelight-color: rgb(78, 194, 192);
}


.navside-content {
  padding: 4px;
  background: #fff;
  /* border-radius: 13px; */
  border-bottom: 4px solid var(--bluedark-color);
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  box-shadow: 0 2px 10px var(--bluelight-color);
  transition: 0.4s;
}

.hidden {
  top: -200px;
}

.navside-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0px 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .navside-content .content {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .navside-content .content {
    background: white;
  }
}

.navside-content .content-2 {
  display: flex;
  justify-content: flex-end;

  align-items: center;
  flex: 1;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .navside-content .content-2 {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.logo img {
  width: 130px;
}

.bars {
  display: none;
}
/* نسخة مصغرة للموبايل فقط */
@media only screen and (max-width: 767px) {
  .bars {
    display: block;
    font-size: 36px;
    color: var(--bluelight-color);
    cursor: pointer;
  }

  .links {
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: absolute;
    top: calc(100% + 10px);
    left: calc(-100% - 50px);
    width: 100%;
    z-index: 999;
    transition: 0.7s;
    background: transparent;
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
  }
}

/* Start snipper */

.parent-spinner {
  display: none;
  width: 36px;
  height: 36px;
}

.spinner {
  width: 27px;
  height: 27px;
  --clr: var(--bluelight-color);
  --clr-alpha: var(--bluedark-color);
  animation: spinner 3s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-13px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(13px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}

/* End snipper */

.create-account {
  font-family: "El Messiri";
  font-weight: bold;
  text-decoration: none !important;
  background: var(--main-color-gradient);
  padding: 7px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 4px #fff solid;
  transition: all linear 0.7s;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .create-account {
    font-size: 17px;
  }
}

.create-account svg {
  color: var(--bluedark-color);
}

.create-account:hover {
  color: #25408f;
  background: #fff;
  border: 3px var(--bluelight-color) solid;
}

.bg-login {
  padding: 3px; /* سمك البوردر */
  display: inline-block;
  border-radius: 30px;
  background: var(--main-color-gradient); /* التدرج هنا */
}

.login-button {
  font-family: "El Messiri";
  font-weight: bold;
  background: white;
  width: 100%;
  color: var(--bluedark-color);
  padding: 5px 9px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
  transition: all linear 0.7s;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .login-button {
    font-size: 17px;
  }
}

.login-button svg {
  color: var(--bluedark-color);
}

.login-button:hover {
  color: #fff;
  background: var(--main-color-gradient);
}

/* End navbar home section */
