
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: right !important;
  font-family: "Expo Arabic Book";
  font-weight: normal;
}

body > #footer {
  margin-top: auto;
}

/* Start profile page */

.student-profile {
  margin-top: 130px;
}

.welcome-user h3 {
  font-family: "GraphikArabic-Bold";
  font-size: 40px;
  color: var(--main-color);
  width: fit-content;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcome-user h3 span {
  color: var(--secondry-color);
  /* font-family: 'LamaSans-Bold'; */
  /* font-size: 30px; */
  margin-right: 10px;
  /* text-decoration: underline; */
}

.profile-card {
  background: var(--main-color);
  border-radius: 20px;
  padding: 30px;
  direction: rtl;
}
.profile-card.dark {
  background: var(--white-color);

}

.logo-profile {
  /* content: url(../media/img/logo-footer.webp); */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.logo-profile.dark {
  /* content: url(../media/img/logo.webp); */
}

.icon-profile {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  color: var(--white-color);
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
}

.profile-field {
  font-family: "GraphikArabic-Semibold";
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.profile-field label {
  font-weight: bold;
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 5px;
}

.profile-field label.dark {
  color: var(--secondry-color);

}

.profile-field label svg {
  color: var(--white-color);
}

.profile-field label svg.dark {
  color: var(--secondry-color);
}


.profile-field span {
  font-family: "GraphikArabic-Semibold";
  font-weight: normal;
  background: transparent;
  border: 2px var(--white-color) solid;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  width:100%;
}

.profile-field span.dark {
  border: 2px var(--secondry-color) solid;

}


/* End profile page */
